<!-- example for updates to config.xml -->
<platform name="ios">
  <!-- other properties here -->
  <config-file target="*-Debug.plist" parent="com.apple.developer.in-app-payments">
    <array>
      <string>merchant.com.entrepriseTouch.ApplePay</string>
    </array>
  </config-file>

  <config-file target="*-Release.plist" parent="com.apple.developer.in-app-payments">
    <array>
      <string>merchant.com.entrepriseTouch.ApplePay</string>
    </array>
  </config-file>
</platform>
